---
layout: archive
permalink: /year-archive/
title: "Awards"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

#{% include base_path %}
#{% capture written_year %}'None'{% endcapture %}
#{% for post in site.posts %}
#  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
#  {% if year != written_year %}
#    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
#    {% capture written_year %}{{ year }}{% endcapture %}
#  {% endif %}
#  {% include archive-single.html %}
#{% endfor %}



Exemplary Reviewer, IEEE Communication Letters 2023 

Exemplary Reviewer, IEEE Wireless Communication Letters 2022 

Exemplary Reviewer, IEEE Wireless Communication Letters 2021 

First-class Scholarship, University of Science and Technology of China 2019 

First-class Scholarship, University of Science and Technology of China 2018 

Honorable Mention, Interdisciplinary Contest In Modeling 2017

First-prize, TI Cup National Undergraduate Electronic Design Contest, Shanghai Site 2016   

Kwang-Hua Scholarship, Shanghai University  2016 

Second-prize, Internet of Things Innovation Contest, Shanghai University  2016 

First-prize, Winter Vacation Social Practice Competition (group leader), Shanghai University  2016 

Academic Innovation Scholarship, Shanghai University 2015 

Special-grade Scholarship, Shanghai University  2015

Special-grade Scholarship, Shanghai University  2014
